<div class="modal fade js-add-link-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">__('Add Link')</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="linkUrl">__('Link Address')</label>
                    <input id="linkUrl" class="js-add-link-modal-link-url form-control" type="text" placeholder="{{i18n 'Link Address'}}"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">{{i18n 'Cancel'}}</button>
                <button class="btn btn-primary js-add-link-save" type="button">{{i18n 'Save'}}</button>
            </div>
        </div>
    </div>
</div>
<div class="container add_post js-module" data-module="posts/addPostModule">
    <div class="add_post__toolbar row js-editor-toolbar">
        <div class="js-editor-toolbar-container">
            <div class="js-editor-toolbar-row">
                <div class="col-md-10">
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)">
                                <i class="fa fa-bold"></i>
                            </a>
                            <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)">
                                <i class="fa fa-italic"></i>
                            </a>
                            <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough">
                                <i class="fa fa-strikethrough"></i>
                            </a>
                            <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)">
                                <i class="fa fa-underline"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a class="btn btn-default" data-edit="insertorderedlist" title="Number list">
                                <i class="fa fa-list-ol"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default add_post__toolbar__add_image" title="Add image">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a class="btn btn-default add_post__toolbar__add_image" title="Add image">
                                <i class="fa fa-picture-o"></i>
                                <form action="/upload_img" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="image" data-edit="insertImage"/>
                                </form>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="CreateLink" title="Hyperlink">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink">
                                <i class="fa fa-cut"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">
                                <i class="fa fa-undo"></i>
                            </a>
                            <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">
                                <i class="fa fa-repeat"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary add_post__toolbar__send js-submit-post">{{i18n 'Send'}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="add_post__content row">
        <h1 class="add_post__title">
            <input id="title" class="js-title" type="text" name="title" value="{{i18n 'Here should be the post title'}}"/>
        </h1>
        <div id="body" class="js-body-editor add_post__body" name="body">
            {{i18n 'Here should be the post'}}
        </div>
    </div>
</div>