<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
</head>
<body>
<p>
    {{i18n 'Hello'}}, {{userName}}.
</p>

<p>
    {{{i18n "To reset your password follow this link:" host locale}}}

    <a href="{{passwordResetLink}}">{{passwordResetLink}}</a>
</p>

<p>
    {{i18n 'If you are not registered on our site, just ignore this letter.'}}
</p>

<p>
    {{{i18n "With best wishes, <a href='http://{{host}}/{{locale}}'>Soshace</a> blog team." host locale}}}
</p>

</body>
<html>