<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8'/>
</head>
<body>
<h4>{{i18n 'Popular blog'}} <a href="http://soshace.com/">Soshace</a></h4>
<p>{{i18n 'Hello'}}.</p>
<p>
    {{i18n 'To confirm the email you need to click on this link:'}}

    <a href="{{code}}">{{code}}</a>
</p>
<p>
    {{i18n 'If you are not registered on our site, just ignore this letter.'}}
</p>
</body>
<html>