<div class="header">
    <div class="container">
        <div class="row header__menu">
            <a href="/{{locale}}" class="js-router-link header__menu__logo col-md-5">
                <img src="/static/images/logo.png" alt="Soshace" class="img-responsive">
            </a>
            {{#if isPostsPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-2">
                    {{i18n 'Posts'}}
                </span>
            {{else}}
                <a href="/{{locale}}" class="js-router-link header__menu__tab header__menu__tab-link col-md-2">
                    {{i18n 'Posts'}}
                </a>
            {{/if}}
            {{#if isAddPostPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-2">
                    {{i18n 'Add Post'}}
                </span>
            {{else}}
                <a href="/{{locale}}/add_post" class="js-router-link header__menu__tab header__menu__tab-link col-md-2">
                    {{i18n 'Add Post'}}
                </a>
            {{/if}}
            {{#if isSignUpPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-2">
                    {{i18n 'Sign Up'}}
                </span>
            {{else}}
                <a href="/{{locale}}/registration" class="js-router-link header__menu__tab header__menu__tab-link col-md-2">
                    {{i18n 'Sign Up'}}
                </a>
            {{/if}}
            {{#if isSignInPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-1">
                    {{i18n 'Sign In'}}
                </span>
            {{else}}
                <a href="/{{locale}}/login" class="js-router-link header__menu__tab header__menu__tab-link col-md-1">
                    {{i18n 'Sign In'}}
                </a>
            {{/if}}
        </div>
    </div>
</div>