<div class="header">
    <div class="container">
        <div class="row header__menu">
            <a href="/{{locale}}" class="js-router-link header__menu__logo col-md-9">
                <img src="/static/images/logo.png" alt="Soshace" class="img-responsive">
            </a>
            {{#if isUserPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
            {{else}}
                <a href="/{{locale}}/user/1" class="js-router-link header__menu__tab header__menu__tab-link col-md-1">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            {{/if}}
            {{#if isAddPostPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-1">
                    <span class="glyphicon glyphicon-pencil"></span>
                </span>
            {{else}}
                <a href="/{{locale}}/add_post" class="js-router-link header__menu__tab header__menu__tab-link col-md-1">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {{/if}}
            {{#if isSignInPage}}
                <span class="header__menu__tab header__menu__tab-active col-md-1">
                    {{i18n 'Sign In'}}
                </span>
            {{else}}
                <a href="/{{locale}}/login" class="js-router-link header__menu__tab header__menu__tab-link col-md-1">
                    <span class="header__menu__tab-link__text">
                        {{i18n 'Sign In'}}
                    </span>
                </a>
            {{/if}}
        </div>
    </div>
</div>