<div class="header-content clearfix">
    <a href="/{{locale}}" class="js-router-link header__logo">
        <img src="{{paths.static}}images/logo.png" alt="Soshace" class="img-responsive"/>
    </a>

    <div class="header__tabs">
        {{#if isAuthenticated}}
            {{#if isUserTab}}
                <span class="header__tab header__tab-active">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="hidden-xs">
                        {{i18n 'Profile'}}
                    </span>
                </span>
            {{else}}
                <a href="/{{locale}}/users/{{profileUserName}}"
                   class="js-router-link header__tab header__tab-link">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="hidden-xs">
                        {{i18n 'Profile'}}
                    </span>
                </a>
            {{/if}}
        {{/if}}
        {{#if isAddPostTab}}
            <span class="header__tab header__tab-active">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs">
                    {{i18n 'Add Post'}}
                </span>
            </span>
        {{else}}
            <a href="/{{locale}}/posts/new" class="js-router-link header__tab header__tab-link">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs">
                    {{i18n 'Add Post'}}
                </span>
            </a>
        {{/if}}
        {{#if isAuthenticated}}
            <a href="/{{locale}}/logout" class="header__tab header__tab-link js-router-link">
                <span class="glyphicon glyphicon-log-out"></span>
                <span class="hidden-xs">
                    {{i18n 'Sign Out'}}
                </span>
            </a>
        {{else}}
            {{#if isAuthTab}}
                <span class="header__tab header__tab-active">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span class="hidden-xs">
                        {{i18n 'Sign In'}}
                    </span>
                </span>
            {{else}}
                <a href="/{{locale}}/login" class="js-router-link header__tab header__tab-link">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span class="hidden-xs">
                        {{i18n 'Sign In'}}
                    </span>
                </a>
            {{/if}}
        {{/if}}
    </div>
</div>