<div class="content-center hidden-xs">
    <div class="intro clearfix">
        <h2>{{i18n 'Soshace - venue of enthusiastic people.'}}</h2>

        <p>{{{i18n "<a class='js-router-link' href='/{{locale}}/posts/new'><strong>Write</strong></a> your article, story, review or poem." locale}}}</p>
        <p>{{{i18n "<strong>Earn money</strong> for unique views, likes and reposts."}}}</p>
        <p>{{{i18n "You only need <a class='js-router-link' href='/{{locale}}/registration'><strong>to register</strong></a>." locale}}}</p>
    </div>
</div>