<div class="content-center hidden-xs">
    <div class="intro clearfix">
        <h2>{{i18n 'Soshace - venue of enthusiastic people.'}}</h2>

        <p>{{{i18n "<a class='js-router-link' href='/{{locale}}/posts/new'><strong>Write</strong></a> about your hobbies, interesting person, place or event."}}}</p>
        <p>{{{i18n "You only need <a class='js-router-link' href='/{{locale}}/registration'><strong>to register</strong></a>."}}}</p>
    </div>
</div>