<div class="posts__preview clearfix" data-owner-id="{{ownerId}}">
    <div class="posts__preview__toolbar">
        <a class="posts__preview__toolbar__edit js-router-link" href="/{{locale}}/posts/{{_id}}/edit">{{i18n 'Edit'}}</a>
        <div class="posts__preview__toolbar__status label {{statusClass}}">{{status}}</div>
    </div>
    <h1>
        <a class="js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{title}}</a>
    </h1>

    <p>{{{body}}}</p>

    <div class="posts__preview__footer">
        <a class="btn btn-primary js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{i18n 'Read more...'}}</a>
    </div>
</div>