<img src="/static/images/dog.jpg" class="img-responsive center">
<div class="posts__item clearfix" style="
margin: -100px auto 30px auto;
box-shadow: 0 0 3px rgba(0,0,0,0.3);
position: relative;
z-index: 2;
">
    <h1>
        <a class="js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{title}}</a>
    </h1>
    <p>{{{description}}}</p>
    <a class="btn btn-primary js-router-link"
       href="/{{locale}}/posts/{{_id}}">{{i18n 'Read more...'}}</a>
</div>