<div class="posts__item clearfix">
    <h1>
        <a class="js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{title}}</a>
    </h1>

    <p>{{{body}}}</p>
    <a class="btn btn-primary js-router-link"
       href="/{{locale}}/posts/{{_id}}">{{i18n 'Read more...'}}</a>
</div>