<div class="posts__preview clearfix js-post-preview" data-owner-id="{{ownerId}}" data-status="{{status}}">
    <div class="js-post-preview-toolbar"></div>
    <h1>
        <a class="js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{title}}</a>
    </h1>

    <p>{{{body}}}</p>

    <div class="posts__preview__footer">
        <a class="btn btn-primary js-router-link"
           href="/{{locale}}/posts/{{_id}}">{{i18n 'Read more...'}}</a>
    </div>
</div>