<!--TODO: избавиться от класса tab-pane-->
<div class="tab-pane active">
    <form role="form">
        <div class="form-group">
            <label for="full-name">{{i18n 'Full Name'}}</label>
            <input type="text" class="form-control js-validate-input js-model-field" name="full-name"
                   id="email"
                   placeholder="{{i18n 'Full Name'}}">
        </div>
        <div class="form-group">
            <label for="email">{{i18n 'Email address'}}</label>
            <input type="email" class="form-control js-validate-input js-model-field" name="email"
                   id="email"
                   placeholder="{{i18n 'Enter email'}}">
        </div>
        <div class="form-group">
            <label for="password">{{i18n 'Password'}}</label>
            <input type="password" class="form-control js-validate-input js-model-field"
                   name="password"
                   id="password"
                   placeholder="{{i18n 'Password'}}">
        </div>
        <button type="submit" class="btn btn-primary js-sign-up">{{i18n 'Sign up'}}</button>
    </form>
</div>