<div class="user content-center">
    {{#if isOwner}}
        {{> usersTabs}}
    {{/if}}
    <div class="user__profile">
        <div class="user__profile__info clearfix">
            <div class="user__profile__info__avatar">
                <div class="user__profile__info__avatar__img">
                    {{#if user.profileImg}}
                        <img src="{{user.profileImg}}"/>
                    {{/if}}
                </div>
            </div>
            <div class="user__profile__info__description">
                <div class="user__profile__block">
                    <h3>
                        {{user.fullName}}
                    </h3>
                </div>
                <div class="user__profile__block">
                    {{i18n 'Sex'}}: {{user.sex}}
                </div>
                <div class="user__profile__block">
                    {{i18n 'Birthday'}}: {{user.birthday}}

                </div>
                <div class="user__profile__block">
                    <div>{{i18n 'About author'}}:</div>
                    <div>{{user.aboutAuthor}}</div>
                </div>
            </div>
        </div>
        {{#if isOwner}}
            <div class="user__profile__footer">
                <a href="/{{locale}}/posts/new"
                   class="btn btn-success js-router-link">{{i18n 'Add post'}}</a>
            </div>
        {{/if}}
    </div>
    <div>
        {{#if posts}}
            <div class="js-posts-list posts clearfix">
                {{#if backend}}
                    {{#each posts}}
                        {{> postPreview}}
                    {{/each}}
                {{/if}}
            </div>
        {{else}}
            <div class="box-message box-message-warning">
                <h3>
                    <a class="js-router-link" href="/{{locale}}/posts/new">
                        {{{i18n 'Here could be your posts'}}}
                    </a>
                </h3>
            </div>
        {{/if}}
    </div>
</div>