{{#unless isAuthenticated}}
    {{> intro}}
{{/unless}}
<div class="content-center">
    <div class="posts">
        <div class="posts__full js-post clearfix"
             data-owner-id="{{post.ownerId}}"
             data-status="{{post.status}}"
             data-_id="{{post._id}}"
             data-locale="{{post.locale}}">
            <div class="js-meta-data"></div>
            <h2 class="js-title">{{post.title}}</h2>
            <div class="js-body">{{{post.body}}}</div>
        </div>
    </div>
</div>