{{#if posts}}
    <div class="container">
        {{#each posts}}
            <div class="row content__post">
                <div class="js-meta-information"></div>
                <h1>
                    <a class="js-router-link" href="/{{../locale}}/posts/{{UTCYear}}/{{UTCMonth}}/{{UTCDate}}/{{titleUrl}}">{{title}}</a>
                </h1>

                <p>{{{description}}}</p>
                <a class="btn btn-primary js-router-link" href="/{{../locale}}/posts/{{UTCYear}}/{{UTCMonth}}/{{UTCDate}}/{{titleUrl}}">{{i18n 'Read more...'}}</a>
            </div>
        {{/each}}
    </div>
{{else}}
    <div class="container page-not-found font-color-green">
        <h1>{{i18n 'No posts'}}</h1>
    </div>
{{/if}}