<div class="posts content-center">
    <div class="posts__full js-post clearfix"
         data-owner-id="{{post.ownerId}}"
         data-status="{{post.status}}"
         data-_id="{{post._id}}"
         data-locale="{{post.locale}}">
        <div class="posts__full__toolbar js-post-toolbar"></div>
        <h1 class="js-title">{{post.title}}</h1>
        <div class="js-body">{{{post.body}}}</div>
    </div>
</div>