<div class="content-center">
    <div class="post-edit">
        <div class="post-edit__toolbar js-editor-toolbar">
            <div class="content-center">
                <div class="post-edit__toolbar__content clearfix">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default js-command js-simple-command" data-edit="bold"
                               title="{{i18n 'Bold'}} (Ctrl/Cmd+B)">
                                <i class="fa fa-bold"></i>
                            </a>
                            <a class="btn btn-default js-command js-simple-command" data-edit="italic"
                               title="{{i18n 'Italic'}} (Ctrl/Cmd+I)">
                                <i class="fa fa-italic"></i>
                            </a>
                            <a class="btn btn-default js-command js-simple-command" data-edit="strikethrough"
                               title="{{i18n 'Strikethrough'}}">
                                <i class="fa fa-strikethrough"></i>
                            </a>
                            <a class="btn btn-default js-command js-simple-command" data-edit="underline"
                               title="{{i18n 'Underline'}} (Ctrl/Cmd+U)">
                                <i class="fa fa-underline"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default js-command js-simple-command" data-edit="insertunorderedlist"
                               title="{{i18n 'Bullet list'}}">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a class="btn btn-default js-command js-simple-command" data-edit="insertorderedlist"
                               title="{{i18n 'Number list'}}">
                                <i class="fa fa-list-ol"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default post-edit__toolbar__add_image js-command js-upload-image"
                               title="{{i18n 'Add image'}}">
                                <i class="fa fa-picture-o"></i>
                                <input type="file" name="image" data-edit="insertImage"/>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default js-command js-add-link" data-edit="CreateLink" title="{{i18n 'Hyperlink'}}">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="btn btn-default js-command js-simple-command" data-edit="unlink"
                               title="{{i18n 'Remove' Hyperlink}}">
                                <i class="fa fa-cut"></i>
                            </a>
                        </div>
                    </div>
                    <div class="post-edit__toolbar__submit-buttons">
                        <button class="btn btn-success js-post-publish">{{i18n 'Publish'}}</button>
                        <button class="btn btn-danger js-post-delete {{#if isNew}}hide{{/if}}">{{i18n 'Delete'}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-edit__content">
            <div class="js-post-status post-edit__status label {{post.statusClass}}">{{post.status}}</div>
            <div class="post-edit__title">
                <input id="post-title" class="js-post-title" type="text" name="post-title" placeholder="{{i18n 'Title'}}" value="{{post.title}}"/>
            </div>

            <div id="post-body" class="post-edit__body js-post-body" contenteditable="true">{{{post.body}}}</div>
        </div>


        {{#if editorDisabled}}
            <div class="disable-cover"></div>
        {{/if}}
    </div>
</div>