<div class="posts-toolbar clearfix">
    {{#if editorEnable}}
        <a class="posts-toolbar__edit js-router-link hidden-xs"
           href="/{{locale}}/posts/{{_id}}/edit"><span class="glyphicon glyphicon-edit"></span> {{i18n 'Edit'}}</a>
    {{/if}}
    {{#if status}}
        <div class="posts-toolbar__status label {{statusClass}}">{{i18n statusTitle}}</div>
    {{/if}}
</div>