<div class="user content-center">
    <div class="user__profile">
        <div class="user__profile__info clearfix">
            <div class="user__profile__info__avatar">
                <div class="user__profile__info__avatar__img">
                    {{#if user.profileImg}}
                        <img src="{{user.profileImg}}" />
                    {{/if}}
                </div>
                <div>
                    <a href="#" class="user__profile__info__avatar__change">Изменить</a>
                </div>
            </div>
            {{#if isEdit}}
                <form class="user__profile__info__description">
                    <div class="user__profile__block form-group">
                        <label for="fullName">{{i18n 'Full name'}}:</label>

                        <h3>
                            <input class="form-control" type="text" id="fullName" name="fullName" value="{{user.fullName}}"/>
                        </h3>
                    </div>
                    <div class="user__profile__block form-group">
                        <div class="">{{i18n 'Sex'}}:</div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sex" id="sexMale" value="male">
                                {{i18n 'Male'}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sex" id="sexFemale" value="female">
                                {{i18n 'Female'}}
                            </label>
                        </div>
                    </div>
                    <div class="user__profile__block form-group">
                        <label for="birthday">{{i18n 'Birthday'}}:</label>

                        <input class="form-control" type="text" id="birthday" name="birthday" value="{{user.birthday}}"/>
                    </div>
                    <div class="user__profile__block form-group">
                        <label for="aboutAuthor">{{i18n 'About author'}}:</label>
                        <textarea id="aboutAuthor" name="aboutAuthor" class="form-control">
                            {{user.aboutAuthor}}
                        </textarea>
                    </div>
                    <div class="user__profile__block form-group">
                        <button type="submit" class="btn btn-primary js-user-save">{{i18n 'Save'}}</button>
                    </div>
                </form>
            {{else}}
                <div class="user__profile__info__description">
                    <div class="user__profile__block">
                        <h3>
                            {{user.fullName}}
                        </h3>
                    </div>
                    <div class="user__profile__block">
                        {{i18n 'Sex'}}: {{user.sex}}
                    </div>
                    <div class="user__profile__block">
                        {{i18n 'Birthday'}}: {{user.birthday}}

                    </div>
                    <div class="user__profile__block">
                        <div>{{i18n 'About author'}}:</div>
                        <div>{{user.aboutAuthor}}</div>
                    </div>
                </div>
            {{/if}}
            <div class="user__profile__info__edit">
                <a href="/{{user.locale}}/users/{{user.userName}}/edit">{{i18n 'Edit profile'}}</a>
                <a href="/{{user.locale}}/users/{{user.userName}}/settings">{{i18n 'Settings'}}</a>
            </div>
        </div>
        {{#if isOwner}}
            <div class="user__profile__footer">
                <a href="/{{locale}}/posts/new"
                   class="btn btn-success js-router-link">{{i18n 'Add post'}}</a>
            </div>
        {{/if}}
    </div>
    <div>
        {{#if posts}}
            <div class="js-posts-list posts clearfix">
                {{#if backend}}
                    {{#each posts}}
                        {{> postPreview}}
                    {{/each}}
                {{/if}}
            </div>
        {{else}}
            <div class="box-message box-message-warning">
                <h3>
                    <a class="js-router-link" href="/{{locale}}/posts/new">
                        {{{i18n 'Here could be your posts'}}}
                    </a>
                </h3>
            </div>
        {{/if}}
    </div>
</div>