<div class="user content-center">
    <div class="user__profile">
        <div class="user__profile__info clearfix">
            <div class="user__profile__info__avatar">
                <div>
                    <img data-src="holder.js/140x140" class="img-rounded" alt="140x140"
                         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                         style="width: 140px; height: 140px;">
                </div>
            </div>
            {{#if isEdit}}
                <form class="user__profile__info__description">
                    <div class="user__profile__block form-group">
                        <label for="fullName">{{i18n 'Full name'}}:</label>

                        <h3>
                            <input class="form-control" type="text" id="fullName" name="fullName" value="{{fullName}}"/>
                        </h3>
                    </div>
                    <div class="user__profile__block form-group">
                        <div class="">{{i18n 'Sex'}}:</div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sex" id="sexMale" value="male">
                                {{i18n 'Male'}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="sex" id="sexFemale" value="female">
                                {{i18n 'Female'}}
                            </label>
                        </div>
                    </div>
                    <div class="user__profile__block form-group">
                        <label for="birthday">{{i18n 'Birthday'}}:</label>

                            <input class="form-control" type="text" id="birthday" name="birthday" value="{{birthday}}"/>
                    </div>
                    <div class="user__profile__block form-group">
                        <label for="aboutAuthor">{{i18n 'About author'}}:</label>
                        <textarea id="aboutAuthor" name="aboutAuthor" class="form-control">
                            {{aboutAuthor}}
                        </textarea>
                    </div>
                    <div class="user__profile__block form-group">
                        <button type="submit" class="btn btn-primary js-user-save">{{i18n 'Save'}}</button>
                    </div>
                </form>
            {{else}}
                <div class="user__profile__info__description">
                    <div class="user__profile__block">
                        <div>{{i18n 'Full name'}}:</div>
                        <h3>
                            {{fullName}}
                        </h3>
                    </div>
                    <div class="user__profile__block">
                        <div>{{i18n 'Sex'}}:</div>
                        <div>{{sex}}</div>
                    </div>
                    <div class="user__profile__block">
                        <div>{{i18n 'Birthday'}}:</div>
                        <div>{{birthday}}</div>

                    </div>
                    <div class="user__profile__block">
                        <div>{{i18n 'About author'}}:</div>
                        <div>{{aboutAuthor}}</div>
                    </div>
                </div>
            {{/if}}
            <div class="user__profile__info__edit">
                <a href="/{{locale}}/users/{{userName}}"></a>
            </div>
        </div>
        <div class="user__profile__footer">
            <a href="/{{locale}}/posts/new"
               class="btn btn-success js-router-link">{{i18n 'Add post'}}</a>
        </div>
    </div>
    <div>
        {{#if posts}}
            <div class="js-posts-list posts clearfix">
                {{#if backend}}
                    {{#each posts}}
                        {{> postPreview}}
                    {{/each}}
                {{/if}}
            </div>
        {{else}}
            <div class="box-message box-message-warning">
                <h3>
                    <a class="js-router-link" href="/{{locale}}/posts/new">
                        {{{i18n 'Here could be your posts'}}}
                    </a>
                </h3>
            </div>
        {{/if}}
    </div>
</div>